<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/navbar.css">
</head>
<style>

    body {
        background-color: rgb(209, 209, 209);
    }
    h1 {
        width: 100%;
        background-color: #fff;
        padding: 17px 0;
        padding-left: 34px;
    }



    .box1 {
        width: 90%;
        height: 400px;
        margin: 20px auto;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        flex-direction: column;
    }

    h4 {
        margin-top: 20px;
    }
</style>
<body>
    <div id="navbar">
        
    </div>
    <h1>My Bag</h1>
    <div class="box1">
        <img src="https://www.tatacliq.com/src/cart/components/img/emptycard.e2924cd0225c.png" alt="" srcset="">
        <h4>Cart Page Is Under Construction</h4>
    </div>
</body>
<script src="/script/navmain.js" type="module"></script>
</html>