<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
          margin:0;
          padding:0;
          font-family: sans-serif;

        }
       .container{
           
           width: 80%;
           min-height: 500px;
           margin: auto;
       }
       
       #head_check{
          border: 1px solid red;
       }
       .form_div{
           border: 1px solid blue;
           width: 100%;
           height:600px;
           display: flex;
           justify-content: space-between;

       }
       #form{
           border: 1px solid green;
           width: 65%;
           height:100%
       }
       #total{
        border: 1px solid transparent;
           width: 30%;
           height:60%
       }
       #ship_head{
           border: 1px solid transparent;
           padding:13px;
           display: flex;
           justify-content: space-between;
       }
       #ship_head>h3{
           border: 1px solid transparent;
           width: 40%;
           height: 30px;
           font-size: 16px;
           color: #000000;
       }
       #ship_head>p{
           color: #212121;
           cursor: pointer;
           font-size: 14px;
           text-decoration-line: underline;
       }
       #first_name{
           
           width: 169px;
        }
       #last_name{
           
           width: 169px;
          
       }
       #form{
           padding:13px;
           border: 1px solid hotpink;
           height:86%;
           
       }
       #add_form{
           border: 1px solid firebrick;
           height: 70%;
           
       }
       #pincode{
       
        margin-left: 25px;
        width: 259px;
       }
       input{
        font-size: 14px;
        
        height: 35px;
        padding: 3px;
        border-radius: 5px;
        border: 1px;
        border-color: #d2d2d2;
        border-style: solid;
       }
       #city{
           margin-top: 0;
           width:352px
       }
       #full_address{
        margin-left: 25px;
        width: 259px;
        height: 96px;
        margin-top: 30px;
        overflow-wrap: break-word;
        
    
       }
       #state{
           width: 352px;
           margin-top: 30px;
       }
       #city_state{
           display: flex;
           flex-direction: column;
           margin-top: 30px;
       }
       #add{
           display: flex;
       }
       #comp_add{
           display: flex;
           flex-direction: column;
       }
       #char_limit{
           border: 1px solid transparent;
           width: 378px;
           margin-left: 25px;
           font-size: 12px;
           color:rgb(58, 56, 56);
           margin-top: 3px;
       }
       #land{
        margin-top: 30px; 
        height: 35px;
       }

       #phoneNumber {
           width: 249px;
       }
    </style>
</head>
<body>
<div>nav</div>
<div class="container">

    <h1 id="head_check">Checkout</h1>
   <div class="form_div">
       <div id="form">
           <div id="ship_head">
               <h3>Add Shipping Address</h3>
               <p>Clear All</p>
           </div>
           <form id="add_form">
               <input id="first_name" placeholder="First Name(Required)*">
               <input id="last_name"  placeholder="Last Name(Required)*">
               <input id="pincode"  placeholder="Enter your PIN code(Required)*">
               <br>
               <div id="add">
                <div id="city_state">
                    <input id="city"    placeholder="City/district(Required)*">
                    <input id="state" placeholder="State(Required)*">
                   
                    <select id="land">
                        <option value="Landmark">Landmark</option>
                        </select>
                   </div>
                   <div id="comp_add">
                    <input id="full_address" placeholder="Flat/House No., Floor, Building/Company/Apartment Name,&#10;
                    Road/Street Name, Area, Colony,
                    Sector, Village (Required)*">
                    <p id="char_limit">Character Limit : 120</p>
                    <input type="text" autocomplete="off" autocorrect="off" id="phoneNumber" placeholder="Enter 10 digit mobile number" class="Input2__inputBox undefined" data-test="control-input-field" value="" style="font-size: 14px; left: 30px;">
                   </div>
                  
                
                  
                   
                   
               </div>
              
              
           </form>
       </div>
       <div id="total"></div>
   </div>
</div>
   
</body>
</html>